<!doctype html>
<html lang="en">
<head>
  <meta content="text/html; charset=UTF-8" />
</head>
<body>
  <div>
    <h1>Welcome!<%= @user.name %></h1>
    <hr />
    <p>
      Thank you so much for registering our service!
    </p>
    <p>
      Username: <%= @user.name %>
    </p>
    <p>
      Email: <%= @user.email %>
    </p>
    <hr />
  </div>
</body>
</html>
